<h1 class="page-header">Administradores</h1>

<% if @admin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            <% @admin.errors.full_messages.each do |message| %>
            <li> <%= message %></li>
            <% end -%>
        </ul>
    </div>  
<% end %>

<div class="panel panel-default">
<div class="panel-heading">
    <%= action %>
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <%= form_for([:backoffice, @admin]) do |f| %>
        <div class="col-lg-10">
            <div class="form-group">
                <label>Nome</label>
                <%= f.text_field :name, class:"form-control", placeholder:"Nome" %>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <%= f.text_field :email, class:"form-control", placeholder:"E-mail do Administrador" %>
            </div>
            
            <div class="form-group">
                <label>Senha</label>
                <%= f.password_field :password, class:"form-control", placeholder:"Senha" %>
            </div>

            <div class="form-group">
                <label>Confirmação de Senha</label>
                <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação de Senha" %>
            </div>
            <button type="submit" class="btn btn-default">Salvar</button>
        </div>
    <% end -%>
<!-- /.panel-body -->
</div>
</div>
<!-- /.col-lg-12 -->